.navbarResponsiveContainer {
	background-color: var(--blue--color);
	padding: 10px 0px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	place-content: center;
	z-index: 998;
}

.logoResponsive {
	position: absolute;
	left: 0px;
	height: 100%;
	padding-left: 10px;
	cursor: pointer;
}

.menu {
	position: relative;
	width: 40px;
	height: 40px;
	background: var(--green--color);
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.iconMenu {
	width: 30px;
	height: 20px;
}

.button {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
	justify-content: center;
}

.button:hover {
	transform: scale(1.1);
}
.button.open {
	display: flex;
}
.button:first-of-type {
	bottom: 50px;
	right: 50px;
}
.button:nth-of-type(2) {
	bottom: 80px;
	right: -35px;
}
.button:last-of-type {
	bottom: 50px;
	right: -120px;
}

.responsiveLink {
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	color: var(--black--color);
	text-transform: uppercase;
	font-weight: 700;
	background-color: var(--green--color);
	z-index: 1000;
	padding: 2px 5px;
	border-radius: 20px;
}

@media (max-width: 650px) {
	.navbarResponsiveContainer {
		display: grid;
	}
}
